body {
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

/*modifica color del boton en el carousel*/
.boton {
    background-color: #0e0808;
    color: #eae8e8;
    border-color: #000000;
    ;
}

.navbar {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

}

#navbar-BMG {
    justify-content: space-between;
    background: #a9a7a7be;
    display: flex;
    padding: 0 10px;


}

#navbarBMG .navbar-collapse {
    flex-grow: 0;
}

.navbar .navbar-brand img {
    widows: 50px;
    display: inline-flex;
    width: auto;
    border-radius: 50%;
    font-size: 45px;
    height: 45px;


}

.navbar .navbar-brand {
    widows: 50px;
    display: inline-flex;
    justify-content: space-between;
    width: 56px;
    font-size: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

}




/* responsive*/
/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
    .cards {
        grid-template-columns: 1fr;
    }
}


.featurette-divider {
    margin: 4rem 0;
    /* Space out the Bootstrap <hr> more */
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*carousel*/


/* Carousel base class */
#carouselBMG {
    display: flex;
    opacity: 0.95;
    justify-content: center;
    margin-top: 40px;
}

#carouselMKT {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.carousel {
    margin-bottom: 4rem;
}


.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.30rem;
    line-height: 1.4;
    color: whitesmoke;
    text-shadow: 2px 2px 10px black;
    font-weight: bolder;
    border: 2px #7e7d7d;

}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: auto;
}

.carousel-item>img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 80%;
    min-height: 80%;
    height: auto;
    margin-top: 35px;
}

.carousel-caption h1 {
    color: #F4F4F4;
    text-shadow: 2px 2px 8px dimgrey;



}

.carousel-caption p {
    color: whitesmoke;
    text-shadow: 2px 2px 10px black;
    font-weight: bolder;
    border: 2px #f4f4f435;

}

.fw-light {
    font-weight: bolder;
    text-shadow: 2px 2px 10px rgb(188, 176, 176);


}


/*cart Menu*/
.item {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 5px;
    border-top: 5px solid;
    border: 2px solid #000;
    padding: 5%;
    border-radius: 25px;
}

.item-title {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 30px;
    height: 10px;
    font-weight: 600;
}

.item-image {
    float: left;
    height: 175px;
    width: 175px;
    margin-right: 25px;
    border-radius: 25px;
    display: inline-flex;
}

.item-desc {
    display: inline;
    padding: 15%;


}



.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
}

.item-details>.item-price {
    margin: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
    padding: 20px 0px;
}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}

.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}

.shopping-cart-total {
    min-height: 96px;
}

/*FORM CONTACTO*/

.col-md-4 {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 30px;
    justify-content: space-between
}

.container-fluid.col-4 {
    justify-content: space-between;
    padding: 20px;
    margin: initial;
}


/*FOOTER*/

.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0, 0, 0, 0.3);
}

.footer-links {
    display: flex;
    align-items: center;
    justify-items: flex-start;
}

.footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 30px;
    padding: 0px 10px;
}

.footer-links a:hover {
    opacity: 1;
    color: #525f6c;
}

.footer .fa-hat-chef {
    color: #1f1c27;
    display: inline;
}